<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */

article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #ffffff;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    article {
    width: 100%;
    height: auto;
    }
}
</style>
</head>
<body>

<input type="button" name="list_inst" value="Instances" onclick="listResource('instances');"/>
<input type="button" name="list_ami" value="AMIs" onclick="listResource('ami');"/>
<input type="button" name="list_vol" value="Volumes" onclick="listResource('volume');"/>
<input type="button" name="list_snap" value="Snapshots" onclick="listResource('snapshot');"/>
<input type="button" name="list_ecr" value="EcrImages" onclick="listResource('ecr');"/>
<input type="button" name="list_key" value="Keys" onclick="listResource('key');"/>
<input type="button" name="list_reserved" value="ReservedInstances" onclick="listResource('reserved');"/>
<input type="button" name="list_requests" value="SpotRequests" onclick="listResource('spot');"/>
<input type="button" name="list_scripts" value="Scripts" onclick="listResource('script');"/>
<input type="button" name="list_price" value="Price" onclick="listPrices()"/>
<input type="button" name="update" value="Update" onclick="updateMetadata()"/>
<button name="garminconnectoutput" id="garminconnectoutput"> &nbsp; </button>

<article id="main_article">
DISPLAY_TEXT
</article>

<article id="sub_article">
&nbsp;
</article>

<script language="JavaScript" type="text/javascript">
    function listResource( resource_type ) {
        let url = "/aws/list?resource=" + resource_type;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = "&nbsp;";
            document.getElementById("main_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function terminateInstance( instance_id ) {
        let url = "/aws/terminate?instance=" + instance_id;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('instances');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function deleteImage( ami ) {
        let url = "/aws/delete_image?ami=" + ami;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('ami');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function deleteVolume( volid ) {
        let url = "/aws/delete_volume?volid=" + volid;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('volume');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function deleteSnapshot( snapid ) {
        let url = "/aws/delete_snapshot?snapid=" + snapid;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('snapshot');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function deleteEcrImage( repo, id ) {
        let url = "/aws/delete_image?reponame=" + repo + "&imageid=" + id;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('ecr');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function cleanupEcrImages() {
        let url = "/aws/cleanup_ecr_images";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('ecr');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function editScript( filename ) {
        let url = "/aws/edit_script?filename=" + filename;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function submitFormData( filename ) {
        let url = '/aws/replace_script';
        let text = document.getElementById( 'script_editor_form' );
        let data = JSON.stringify({'filename': filename, 'text': text.value});
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open('POST', url, true);
        xmlhttp.onload = function see_result() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('script');
        }
        xmlhttp.setRequestHeader('Content-Type', 'application/json');
        xmlhttp.send(data);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function createScript() {
        let filename = document.getElementById( 'script_filename' );
        editScript( filename.value );
    }
    function deleteScript( filename ) {
        let url = "/aws/delete_script?filename=" + filename;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("garminconnectoutput").innerHTML = "done";
            listResource('script');
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function buildSpotRequest( ami ) {
        let url = "/aws/build_spot_request?ami=" + ami;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("sub_article").innerHTML = "&nbsp;";
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function requestSpotInstance() {
        let url = "/aws/request_spot";

        let ami = document.getElementById('ami').value;
        let instance_type = document.getElementById('instance_type').value;
        let security_group = document.getElementById('security_group').value;
        let script = document.getElementById('script').value;
        let key = document.getElementById('key').value;
        let price = document.getElementById('price').value;
        let name = document.getElementById('name').value;

        let data = JSON.stringify({
            'ami': ami,
            'instance_type': instance_type,
            'security_group': security_group,
            'script': script,
            'key_name': key,
            'price': price,
            'name': name,
        });

        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open('POST', url, true);
        xmlhttp.onload = function see_result() {
            listResource('instances');
        }
        xmlhttp.setRequestHeader('Content-Type', 'application/json');
        xmlhttp.send(data);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function listAllPrices() {
        let url = "/aws/prices";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = "&nbsp;";
            document.getElementById("main_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function listPrices() {
        let url = "/aws/prices";
        let search = document.getElementById('inst_fam');
        if (search) {
            url = url + "?search=" + search.value;
        }
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function updateMetadata() {
        let url = "/aws/update";
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = "&nbsp;";
            document.getElementById("main_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
    function getStatus( instance ) {
        let url = "/aws/status?instance=" + instance;
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function f() {
            document.getElementById("sub_article").innerHTML = xmlhttp.responseText;
            document.getElementById("garminconnectoutput").innerHTML = "done";
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
        document.getElementById("garminconnectoutput").innerHTML = "running";
    }
</script>

</body>
</html>
